In [18]:
import pandas as pd 
import numpy as np

In [1]:

csv_file=pd.read_csv("drug200.csv")
csv_file

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [2]:
feature_col=csv_file.columns[:5]
print(feature_col)

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K'], dtype='object')

In [4]:
features=csv_file[feature_col]

In [5]:
features

     Age Sex      BP Cholesterol  Na_to_K
0     23   F    HIGH        HIGH   25.355
1     47   M     LOW        HIGH   13.093
2     47   M     LOW        HIGH   10.114
3     28   F  NORMAL        HIGH    7.798
4     61   F     LOW        HIGH   18.043
..   ...  ..     ...         ...      ...
195   56   F     LOW        HIGH   11.567
196   16   M     LOW        HIGH   12.006
197   52   M  NORMAL        HIGH    9.894
198   23   M  NORMAL      NORMAL   14.020
199   40   F     LOW      NORMAL   11.349

[200 rows x 5 columns]

In [3]:
class_col=csv_file.columns[5:]
print(class_col)

Index(['Drug'], dtype='object')

In [6]:
class_val=csv_file[class_col]
class_val

      Drug
0    DrugY
1    drugC
2    drugC
3    drugX
4    DrugY
..     ...
195  drugC
196  drugC
197  drugX
198  drugX
199  drugX

[200 rows x 1 columns]

In [7]:
sex=features["Sex"]
gender=[]
for i in sex:
    if i=="F":
        g=0 
    else:
        g=1 
    gender.append(g)
features["Sex"]=gender 
features

C:\Users\MY PC\AppData\Local\Temp\ipykernel_7972\3558705373.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Sex"]=gender

     Age  Sex      BP Cholesterol  Na_to_K
0     23    0    HIGH        HIGH   25.355
1     47    1     LOW        HIGH   13.093
2     47    1     LOW        HIGH   10.114
3     28    0  NORMAL        HIGH    7.798
4     61    0     LOW        HIGH   18.043
..   ...  ...     ...         ...      ...
195   56    0     LOW        HIGH   11.567
196   16    1     LOW        HIGH   12.006
197   52    1  NORMAL        HIGH    9.894
198   23    1  NORMAL      NORMAL   14.020
199   40    0     LOW      NORMAL   11.349

[200 rows x 5 columns]

In [8]:
Bp=features["BP"]
b=[]
for i in Bp:
    if i=="HIGH":
        x=2 
    elif i=="NORMAL":
        x=1
    else:
        x=0 
    b.append(x)
features["BP"]=b

C:\Users\MY PC\AppData\Local\Temp\ipykernel_7972\3489541285.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["BP"]=b

In [10]:
ch=features["Cholesterol"]
c=[]
for i in ch:
    if i=="HIGH":
        x=1 
    else:
        x=0 
    c.append(x)
features["Cholesterol"]=c 
features

C:\Users\MY PC\AppData\Local\Temp\ipykernel_7972\667318509.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Cholesterol"]=c

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   2            1   25.355
1     47    1   0            1   13.093
2     47    1   0            1   10.114
3     28    0   1            1    7.798
4     61    0   0            1   18.043
..   ...  ...  ..          ...      ...
195   56    0   0            1   11.567
196   16    1   0            1   12.006
197   52    1   1            1    9.894
198   23    1   1            0   14.020
199   40    0   0            0   11.349

[200 rows x 5 columns]

In [74]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
lb.fit(class_val)
class_v=lb.transform(class_val)
print(class_v)

[0 3 3 4 0 4 0 3 0 0 3 0 0 0 4 0 4 1 3 0 0 0 0 0 0 0 0 4 0 0 4 2 4 0 4 4 1
 4 4 4 0 2 0 4 4 4 1 3 0 0 0 4 0 0 2 3 2 0 4 0 0 1 0 4 2 0 1 4 0 0 2 0 4 0
 0 0 1 0 1 4 2 4 3 1 3 2 4 0 0 0 0 0 0 0 0 4 0 0 0 0 1 1 3 4 0 4 4 0 2 0 1
 4 4 4 4 0 4 4 1 0 0 0 0 0 2 0 0 4 0 4 0 0 4 0 0 4 2 1 2 4 1 0 2 0 1 4 4 1
 4 3 1 2 4 4 0 3 1 0 3 4 4 2 4 0 0 0 0 4 0 1 4 4 0 0 1 0 1 0 0 0 0 4 4 0 0
 0 2 1 0 0 0 1 0 3 0 3 3 4 4 4]

c:\Users\MY PC\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\MY PC\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [87]:
print(class_val)

      Drug
0    DrugY
1    drugC
2    drugC
3    drugX
4    DrugY
..     ...
195  drugC
196  drugC
197  drugX
198  drugX
199  drugX

[200 rows x 1 columns]

In [75]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(features,class_v,test_size=0.3,random_state=42)

In [76]:
print(x_train.shape,x_test.shape)

(140, 5) (60, 5)

In [77]:
from imblearn.over_sampling import SMOTE
X_train, y_train = SMOTE().fit_resample(x_train, y_train)

In [78]:
from sklearn.linear_model import LinearRegression##55
from sklearn.tree import DecisionTreeClassifier##96
from sklearn.neighbors import KNeighborsClassifier##61,
from sklearn.ensemble import RandomForestClassifier##98
from sklearn.linear_model import LogisticRegression##93.33

ln=LogisticRegression(max_iter=400)
ln.fit(X_train,y_train)

c:\Users\MY PC\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=400)

In [79]:
pred=ln.predict(x_test)

In [80]:
prediction_analysis=[]
for i in pred:
    prediction_analysis.append(round(i))
print(prediction_analysis)

[4, 1, 4, 3, 0, 0, 0, 4, 1, 4, 1, 4, 0, 1, 2, 0, 2, 4, 3, 0, 2, 4, 4, 0, 0, 0, 3, 4, 0, 4, 0, 3, 3, 0, 1, 0, 4, 1, 0, 1, 4, 4, 4, 0, 0, 3, 0, 0, 2, 4, 4, 0, 4, 0, 4, 0, 1, 0, 0, 0]

In [81]:
from sklearn.metrics import accuracy_score
print(y_test)
print(accuracy_score(y_test,prediction_analysis)*100)

[4 0 4 3 0 0 0 4 1 4 1 4 0 1 2 0 2 4 3 0 2 4 4 0 0 0 3 4 0 4 0 3 3 0 1 0 4
 1 0 1 4 4 4 0 0 3 0 0 0 4 4 0 4 0 4 0 1 0 0 0]
96.66666666666667

In [82]:
print("this person neeeds {}".format(lb.inverse_transform(prediction_analysis)))

this person neeeds ['drugX' 'drugA' 'drugX' 'drugC' 'DrugY' 'DrugY' 'DrugY' 'drugX' 'drugA'
 'drugX' 'drugA' 'drugX' 'DrugY' 'drugA' 'drugB' 'DrugY' 'drugB' 'drugX'
 'drugC' 'DrugY' 'drugB' 'drugX' 'drugX' 'DrugY' 'DrugY' 'DrugY' 'drugC'
 'drugX' 'DrugY' 'drugX' 'DrugY' 'drugC' 'drugC' 'DrugY' 'drugA' 'DrugY'
 'drugX' 'drugA' 'DrugY' 'drugA' 'drugX' 'drugX' 'drugX' 'DrugY' 'DrugY'
 'drugC' 'DrugY' 'DrugY' 'drugB' 'drugX' 'drugX' 'DrugY' 'drugX' 'DrugY'
 'drugX' 'DrugY' 'drugA' 'DrugY' 'DrugY' 'DrugY']

In [83]:
arnab=np.array([21,1,1,1,12.006])
arnab=arnab.reshape(1,arnab.shape[0])
print("Arnab Mondal needs {}".format(lb.inverse_transform(ln.predict(arnab))))

Arnab Mondal needs ['drugX']

c:\Users\MY PC\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [70]:
import pickle as pc

In [84]:
with open('logistic.pkl', 'wb') as file:
      
    # A new file will be created
    pc.dump(ln, file)

In [ ]:
pc.dump(lb, open('lb.pkl', 'wb'))